/* APP */
.App{
    background-color: #C98BB9;
    height: 100vh;
}

.cfb{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* SIGN UP CONTAINER */
.Container{
    position: relative; 

    width: 50%;
    height: 60%;

    box-shadow: 1px 2px 2px #592941;
    border: 0.1em solid #592941;
    border-radius: 0.5em;
    background-color: #74E7C6;
    background-image: url('./shapes.jpg'); 

    transition: 3s;
}

.banner{
    position: absolute;
    z-index: 2;
    right: 65%;

    border: 0.1em solid #592941;
    border-radius: 0.5em;

    width: 35%;
    height: 100%;

    flex-direction: column;

    background-color: #035E7B;
    
    color: #EEFCF8;

    transition: 2s;
}

.form{
    position: absolute;
    z-index: 1;
    right: 0;

    border: 0.1em solid #592941;
    border-radius: 0.5em;

    width: 65%;
    height: 100%;

    background-color: #EEFCF8;

    color: #035E7B;

    transition: 2s;
}

.send-right{
    right: 0;
}

.send-left{
    right: 35%;
}
